<div class="show-post">
  <p id="notice"><%= notice %></p>
  <div class="post">
    <p class="post-title">
      <%= @post.title %>
    </p>
    <div class="my-post">
      <p class="post-image-container">
        <%= image_tag(@post.image_url, :class=>'img-responsive') %>
      </p>
      <div class="post-details-container">
        <%= @post.timestamp  %> - <%= @post.user.name %>
      </div>
      <p class="post-body">
        <%= @post.body %>
      </p>
    </div>
  </div>
  <div class="post-comments">
    <div class="comments-header">
      Comments
    </div>
    <div class="comments-container">
      <%= render @post.comments %>
    </div>
  </div>
  <div class="post-comments-form">
    <h2>Leave your comment:</h2>
      <%= render 'comments/form' %>
  </div>
  <div class="show-btns">
    <%= post_navigation_buttons %>
  </div>
</div>